# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Project_1_Java/.idea/misc.xml
Project_1_Java/.idea/modules.xml
Project_1_Java/.idea/project-template.xml
Project_1_Java/.idea/vcs.xml
Project_1_Java/out/production/Project_1_Java/PLD/classes/AFD.class
Project_1_Java/out/production/Project_1_Java/PLD/classes/Common.class
Project_1_Java/out/production/Project_1_Java/PLD/classes/Lexer.class
Project_1_Java/out/production/Project_1_Java/PLD/classes/Parser.class
Project_1_Java/out/production/Project_1_Java/PLD/classes/Token.class
Project_1_Java/out/production/Project_1_Java/PLD/Main.class
Project_1_Java/Project_1_Java.iml
Project_1/.idea/inspectionProfiles/profiles_settings.xml
Project_1/.idea/misc.xml
Project_1/.idea/modules.xml
Project_1/.idea/Project_1.iml
Project_1/.idea/vcs.xml
Project_1_Java/.idea/description.html
Project_1_Java/.idea/encodings.xml
.DS_Store
Project_1/.idea/workspace.xml
Project_1_Java/.idea/workspace.xml
*.class
Project_2/.idea/vcs.xml
*.xml
*.iml
Project_2/cmake-build-debug/.cmake/api/v1/query/cache-v2
Project_2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Project_2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Project_2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Project_2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-24181cdaedda907adf4c.json
Project_2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b676e90113d8a7fc01cb.json
Project_2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e62e13e53b6338dab81f.json
Project_2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
Project_2/cmake-build-debug/.cmake/api/v1/reply/index-2022-03-23T18-23-40-0383.json
Project_2/cmake-build-debug/.cmake/api/v1/reply/target-Project_2-Debug-1f06d2ee295a06743f0b.json
Project_2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-9002b9f304a9a6bc85b8.json
Project_2/cmake-build-debug/build.ninja
Project_2/cmake-build-debug/cmake_install.cmake
Project_2/cmake-build-debug/CMakeCache.txt
Project_2/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
Project_2/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
Project_2/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
Project_2/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
Project_2/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
Project_2/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
Project_2/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.o
Project_2/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Project_2/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.o
Project_2/cmake-build-debug/CMakeFiles/clion-environment.txt
Project_2/cmake-build-debug/CMakeFiles/clion-log.txt
Project_2/cmake-build-debug/CMakeFiles/cmake.check_cache
Project_2/cmake-build-debug/CMakeFiles/rules.ninja
Project_2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Project_2/CMakeLists.txt
